/*------------------------------------*\
    #Call To Action
\*------------------------------------*/
.cta {
    position  : relative;
    margin-top: 50px;

    .action-container {
        padding         : 50px;
        position        : relative;
        background-color: #5B95F4;
        border-radius   : 10px;
        z-index         : 1;

        @media #{$maxTablet} {
            padding: 10px;
        }

        .cta-cover {
            background-color: #70A3F5;
        }
    }

    h3 {
        color        : $color-white;
        font-size    : 30px;
        line-height  : 45px;
        margin-bottom: 30px;

        @media #{$maxTablet} {
            font-size  : 28px;
            padding    : 0;
            line-height: 35px;
        }
    }

    .form-action {
        position    : relative;
        max-width   : 600px;
        margin-right: auto;
        margin-left : 0;

        .input-group {
            border          : none;
            height          : 65px;
            padding         : 7px;
            border-radius   : 4px;
            background-color: $color-white;

            .btn {
                width      : 170px;
                height     : 50px;
                line-height: 50px;

                &:hover,
                &:focus {
                    background-color: $color-hover;
                }

                .icon {
                    margin-left: 10px;
                }

                @media #{$maxSmall} {
                    width: 120px;
                }
            }
        }

        .form-control {
            margin-bottom: 0;
            border-radius: 0;
            padding-left : 24px;
            padding-right: 210px;
            border-bottom: 0;
            width        : calc(100% - 170px);
            height       : 50px;

            @media #{$maxSmall} {
                padding-left : 0;
                padding-right: 130px;
                width        : calc(100% - 120px);
            }
        }

        .btn {
            position: absolute;
            top     : 7px;
            right   : 7px;
            z-index : 60;
        }
    }

    @media #{$maxTablet} {
        text-align: center;

        .cta-cover {
            margin-bottom: 30px;
        }
    }

}