/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header {
    &.header-transparent {
        background-color: transparent;
        position        : absolute;
        top             : 0;
        left            : 0;
        width           : 100%;
        z-index         : 1001;
    }
}

.header-2 {

    @media #{$minLarge} {

        .navbar-expand-lg>.container,
        .navbar-expand-lg>.container-fluid {
            justify-content: space-between;
            padding        : 0 70px;
        }
    }

}